# PROD
CRYSTALLIZE_TENANT_ID=your-tenant-id-here
CRYSTALLIZE_TENANT_IDENTIFIER=your-tenant-identifier-here
CRYSTALLIZE_ACCESS_TOKEN_ID=your-token-id-here
CRYSTALLIZE_ACCESS_TOKEN_SECRET=your-token-secret-here

# # DEV
# CRYSTALLIZE_TENANT_ID=your-dev-tenant-id-here
# CRYSTALLIZE_TENANT_IDENTIFIER=your-dev-tenant-identifier-here
# CRYSTALLIZE_ACCESS_TOKEN_ID=your-dev-token-id-here
# CRYSTALLIZE_ACCESS_TOKEN_SECRET=your-dev-token-secret-here
# CRYSTALLIZE_ORIGIN=-dev.crystallize.digital
